aws_region          = "ap-south-1"
project_name        = "college-project"
instance_type       = "t3.micro"
key_name            = "your-ec2-keypair-name"
allowed_ssh_cidr    = "YOUR_PUBLIC_IP/32"
repository_url      = "https://github.com/YOUR_USER/YOUR_REPO.git"
repository_branch   = "main"
mysql_database      = "college_app"
mysql_user          = "college_user"
mysql_password      = "CHANGE_ME_STRONG_PASSWORD"
mysql_root_password = "CHANGE_ME_STRONG_ROOT_PASSWORD"
